.page {
      background-color: #14131a;
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      font-family: monospace;
      transition: background-color 0.5s linear;
}
.page-dark-mode {
      background-color: #14131a;
}
.page-light-mode {
      background-color: white;
}
.banner {
      height: 100px;
      width: 100%;
      background-color: #1c1b23;
      transition: background-color 0.5s linear;
}
.banner-dark-mode {
      background-color: #1c1b23;
}
.banner-light-mode {
      background-color: #deecf7;
}
.profile {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      transform: translate(5vw, 30px);
}
.profile-links {
      display: flex;
      justify-content: space-evenly;
}
.profile-image {
      width: 12vw;
      height: 12vw;
      border-radius: 50%;
}

.bulb {
      position: absolute;
      right: 5vw;
      top: 80px;
      font-size: 40px;
      color: gray;
      cursor: pointer;
}
.bulb:hover {
      color: white;
}

.main {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
}

.projects-section,
.blogs-section,
.about-section {
      width: 90%;
      margin-top: 80px;
}
/* .blogs-section {
      margin-bottom: 50px;
} */
.about-section {
      margin-bottom: 50px;
      padding: 10px;
}

.projects-heading,
.blogs-heading,
.about-heading {
      color: white;
      font-size: 2em;
      text-align: center;
}

.about-heading {
      margin-bottom: 30px;
}

.projects-heading-light-mode,
.blogs-heading-light-mode,
.about-heading-light-mode {
      color: black;
}
.loader {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
}

@media (max-width: 800px) {
      .projects-heading,
      .blogs-heading,
      .about-heading {
            font-size: 1.6em;
      }
      .profile {
            width: 100px;
            height: 100px;
            transform: translate(5vw, 40px);
      }
}
