.projects-section {
      width: 90%;
      margin-top: 80px;
}

.projects-heading {
      color: white;
      font-size: 30px;
}

.projects {
      display: flex;
      flex-wrap: wrap;
}

.project {
      background-color: #1c1b23;
      border-radius: 20px;
      margin-top: 20px;
      display: flex;
      min-height: 120px;
      padding: 10px;
      width: 49%;
      margin-left: 1%;
      transition: background-color 0.5s linear;
}
.project-dark-mode {
      background-color: #1c1b23;
      color: white;
}
.project-light-mode {
      background-color: #deecf7;
      color: black;
}

.project-icon-container {
      padding: 10px;
      background-color: teal;
      width: 120px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 1.5em;
}

.project-information {
      margin-left: 10px;
}

.project-name {
      color: white;
      font-size: 1.2em;
}
.project-name-dark-mode {
      color: white;
}
.project-name-light-mode {
      color: black;
}

.time-spent-image {
      padding: 5px;
      min-height: 30px;
}

.project-link {
      margin-left: auto;
      display: flex;
      align-items: center;
      color: white;
      margin-right: 10px;
}

.project-link:hover {
      color: green;
}

.project-link-dark-mode {
      color: white;
}
.project-link-dark-mode:hover {
      color: green;
}

.project-link-light-mode {
      color: black;
}

.project-link-light-mode:hover {
      color: white;
}

.tech-stack {
      padding: 5px;
      width: 50%;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
      display: flex;
      flex-wrap: wrap;
      color: grey;
      font-size: 1em;
}

.tool {
      width: 50%;
}

/* @keyframes opacity-animation {
      from {
            opacity: 0;
      }
      to {
            opacity: 1;
      }
} */

@media (max-width: 1000px) {
      .project {
            width: 99%;
      }
}

@media (max-width: 800px) {
      .project-name {
            font-size: 1em;
      }
      .tech-stack {
            font-size: 0.8em;
      }
}
