.projects {
      display: flex;
      flex-wrap: wrap;
}
.project {
      background-color: #1c1b23;
      border-radius: 20px;
      margin-top: 20px;
      display: flex;
      min-height: 141px;
      padding: 10px;
      width: 49%;
      margin-left: 1%;
      transition: background-color 0.5s linear;
}

.project-light-mode {
      background-color: #deecf7;
      color: black;
}

@media (max-width: 1000px) {
      .project {
            width: 99%;
      }
}
