html {
      font-size: 16px;
}

* {
      box-sizing: border-box;
      margin: 0;
      border: none;
      text-decoration: none;
      outline: none;
      padding: 0;
}
body {
      overflow-x: hidden;
}
