.project-section {
      width: 90%;
      margin-top: 80px;
      color: white;
}

.project-name {
      color: white;
      font-size: 30px;
}

.introduction {
      color: white;
      padding: 20px;
}
