.image-container {
      position: relative;
      width: 400px;
      height: 225px;
}

.image-container:hover {
      transform: scale(0.99);
}

.project-image {
      width: 400px;
      cursor: pointer;
      border-radius: 10px;
      border: 2px solid;
}
