.project-section {
      width: 70%;
      margin-top: 80px;
}

.project-name {
      color: white;
      font-size: 30px;
      text-align: center;
      margin-bottom: 20px;
}
.project-name-light-mode {
      color: black;
}

.project-links {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
}

.live-button,
.github-button {
      background-color: #1c1b23;
      border-radius: 15px;
      color: #fff;
      display: flex;
      font-family: inherit;
      justify-content: space-around;
      margin: 10px;
      padding: 3px;
      width: 100px;
      border: 2px solid white;
      font-size: 14px;
}

.live-button-light-mode,
.github-button-light-mode {
      background-color: #deecf7;
      border: 2px solid black;
      color: black;
}

.heading {
      color: white;
}
.heading-light-mode {
      color: black;
}

.introduction {
      color: white;
      padding: 20px;
}

.content {
      color: rgba(255, 255, 255, 0.8);
      border-bottom: 2px solid rgba(255, 255, 255, 0.5);
      padding: 15px;
      margin-bottom: 10px;
}

.content-light-mode {
      color: rgba(0, 0, 0, 0.8);
      border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.projects-container {
      flex-direction: column;
      display: flex;
      align-items: center;
      width: 100%;
}
.project-images {
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      width: 100%;
      max-width: 810px;
      gap: 10px;
}
.project-images::-webkit-scrollbar {
      display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.project-images {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
}

.project-image:hover {
      transform: scale(0.99);
}

.images-controls {
      margin-top: 20px;
      justify-content: center;
      display: flex;
      gap: 50px;
      font-size: 32px;
}

.image-control {
      cursor: pointer;
}
.image-control:hover {
      transform: scale(0.9);
}

.h3-heading {
      margin-top: 5px;
}

ul {
      padding-left: 15px;
}
p,
li {
      margin: 5px;
}
@media (max-width: 800px) {
      .project-name {
            font-size: 25px;
      }
      .project-section {
            width: 90%;
      }
      .heading {
            font-size: 1em;
      }
      .live-button,
      .github-button {
            width: 90px;
            font-size: 11px;
            margin: 4px;
      }
      .content {
            font-size: 0.8em;
      }
}
