.project-section {
      width: 80%;
      margin-top: 80px;
}

.project-name {
      color: white;
      font-size: 30px;
      text-align: center;
}
.project-name-light-mode {
      color: black;
}
.heading {
      color: white;
}
.heading-light-mode {
      color: black;
}

.introduction {
      color: white;
      padding: 20px;
}

.content {
      color: rgba(255, 255, 255, 0.8);
      border-bottom: 2px solid rgba(255, 255, 255, 0.5);
      padding: 20px;
      margin-bottom: 10px;
}

.content-light-mode {
      color: rgba(0, 0, 0, 0.8);
      border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

@media (max-width: 800px) {
      .project-name {
            font-size: 25px;
            margin-bottom: 10px;
      }
      .project-section {
            width: 90%;
      }
      .heading {
            font-size: 1em;
      }
      .content {
            font-size: 0.9em;
      }
}
