.page {
      background-color: #14131a;
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      font-family: monospace;
      transition: background-color 0.5s linear;
}
.page-light-mode {
      background-color: white;
}
.banner {
      height: 100px;
      width: 100%;
      background-color: black;
      transition: background-color 0.5s linear;
}
.banner-light-mode {
      background-color: darkcyan;
}
.profile {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      transform: translate(5vw, 30px);
}

.bulb {
      position: absolute;
      right: 5vw;
      top: 80px;
      font-size: 40px;
      color: gray;
      cursor: pointer;
}
.bulb:hover {
      color: white;
}

.main {
      flex-grow: 1;
      display: flex;
      justify-content: center;
}

.loader {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
}

@media (max-width: 800px) {
      .profile {
            width: 100px;
            height: 100px;
            transform: translate(5vw, 40px);
      }
}
